{%extends "header.html"%}

{% block title %} Clientes {% endblock%}

{% block content %}
    
	<section class=" aling-general">
		<div class="container">
			<div class="content1">
				<i class="fas fa-user"></i>
			</div>
			<div class="content4">
				<p class="text">Nombre:</p>
				<p class="date-text"><strong> {{cliente.nombre}} {{cliente.ap_paterno}}</strong></p>
				<p class="text">Email:</p>
				<p class="date-text"><strong>{{cliente.email}}</strong></p>
				<p class="text">Telefono Celular:</p>
				<p class="date-text"><strong>{{cliente.num_celular}}</strong></p>
				<br />
			</div>
		</div>
		<div class="container2">
			<div class="content1">
				<i class="fas fa-bookmark"></i>
			</div>
			<div class="content4 nocontent">
                <div class="body-general">
                    
					<div class="body">
						{% for polizas in poliza%}
						<div class="content">
							<div class="data">
                                
								<div class="data-section">
									<h3>Numero</h3>
									<p>{{polizas.num_poliza}}</p>
								</div>
								<div class="data-section">
									<h3>Fecha de vencimineto</h3>
									<p>{{polizas.fecha_termino}}</p>
								</div>
                                
							</div>
							
							<a href="{% url 'Clientes:vista_poliza' polizas.id %}"><i class="fas fa-search"></i></a>
							<a href="{% url 'Clientes:editar_poliza' polizas.id %}"><i class="fas fa-edit"></i></a>
							<a href="{% url 'Clientes:eliminar_poliza' polizas.id %}"><i class="fas fa-trash-alt"></i></a>
						</div>
						{% endfor%}
					</div>
                    
				</div>
				                
			</div>
		</div>
	</section>
    {% endblock %}