{%extends "header.html"%}

{% block title %} Editar Cliente {% endblock%}

{% block content %}
<section class="aling-general">
	<form method="POST">
		{% csrf_token %}
		<div class="container2">
			<div class="content1">
				<i class="fas fa-user"></i>
			</div>
            
           <div class="content2">
               {{form.nombre.label}}
				{{form.nombre}}
				{{form.ap_paterno.label}}
				{{form.ap_paterno}}
				{{form.ap_materno.label}}
				{{form.ap_materno}}
				{{form.fecha_nacimiento.label}}
				{{form.fecha_nacimiento}}
				{{form.email.label}}
				{{form.email}}
				{{form.num_celular.label}}
				{{form.num_celular}}
				{{form.num_fijo.label}}
				{{form.num_fijo}}

			</div>
			<div class="content2">
				{{form.direccion.label}}
				{{form.direccion}}
				{{form.colonia.label}}
				{{form.colonia}}
				{{form.codigo_postal.label}}
				{{form.codigo_postal}}
				{{form.rfc.label}}
				{{form.rfc}}
				{{form.fecha_registro.label}}
				{{form.fecha_registro}}
				{{form.status.label}}
				{{form.status}}
				
			</div>
			<!--<div class="content2">
				{{cliente.nombre.label}}
				{{cliente.nombre}}
				{{cliente.ap_paterno.label}}
				{{cliente.ap_paterno}}
				{{cliente.ap_materno.label}}
				{{cliente.ap_materno}}
				{{cliente.fecha_nacimiento.label}}
				{{cliente.fecha_nacimiento}}
				{{cliente.email.label}}
				{{cliente.email}}
				{{cliente.num_celular.label}}
				{{cliente.num_celular}}
				{{cliente.num_fijo.label}}
				{{cliente.num_fijo}}

			</div>
			<div class="content2">
				{{cliente.direccion.label}}
				{{cliente.direccion}}
				{{cliente.colonia.label}}
				{{cliente.colonia}}
				{{cliente.codigo_postal.label}}
				{{cliente.codigo_postal}}
				{{cliente.rfc.label}}
				{{cliente.rfc}}
				{{cliente.fecha_registro.label}}
				{{cliente.fecha_registro}}

				{{cliente.status.label}}
				{{cliente.status}}
				
			</div>-->
			<div class="content3">
				<button class="btn" type="submit">Guardar</button>
			</div>
		</div>
	</form>
</section>

{% endblock %}