{%extends "header.html"%}

{% block title %} Clientes {% endblock%}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
	<section class="container-general services">
		<div class="titles">
			<div class="title">
				<h1>Notificaciones</h1>
			</div>	
			<div class="box-search">
				<form method="GET">
				<input id="entrada" type="text" name="buscar" placeholder="Prima..">
				<button type="submit" class="btn btn-success">Buscar</button>
			</form>
			</div>	
		</div>
		<div class="body-general">
			<div class="body notifications">
				{%for prima in primas%}
				<div class="content">
					<div class="data">
						<div class="data-section">
							<h3>Póliza</h3>
							<p>{{prima.poliza}}</p>
						</div>
						<div class="data-section">
							<h3>No. Prima</h3>
							<p>{{prima.no_prima}}</p>
						</div>
						<div class="data-section">
							<h3>Vencimiento</h3>
							<p>{{prima.fecha_vencimiento}}</p>
						</div>
					</div>
					<a href="{% url 'Clientes:detalle_prima' prima.id %}">Consultar</a>
					<a href="{% url 'Clientes:enviar_notificacion' prima.id %}">Notificar</a>
					<a href="{% url 'Clientes:notificaciones_estado' prima.id %} "><i class="fas fa-check"></i></a>
				</div>
				{%endfor%}
				
			</div>
		</div>

	</section>

	<script src="jquery.js"></script>
{% endblock %}