<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="sty.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://kit.fontawesome.com/1669efdec3.js" crossorigin="anonymous"></script>

</head>
<body>
	
	<header>
		<nav>
			<section class="container-nav nav">
				<div class="logo-nav">
					<img src="logo_seguros.jpeg">		
				</div>			
				<div class="links-nav">
					<a href="clientes.html">Clientes</a>
					<a href="polizas.html">Polizas</a>
					<a href="estadisticas.html">Estadisticas</a>
					<a href="calendario.html">Calendario</a>
					<a href="Notificaciones.html">Notificaciones</a>
				</div>	
				<div class="img-nav">
					<img src="gato.jpg">		
				</div>
			</section>
		</nav>
	</header>


	<section class="container-general services">
		<div class="titles">
			<div class="title">
				<h1>Notificaciones</h1>
			</div>	
			<div class="box-search">
				<input type="text" name="">
			</div>	
		</div>
		<div class="body-general">
			<div class="body notifications">
				<div class="content">
					<div class="data">
						<div class="data-section">
							<h3>Poliza</h3>
							<p>123456789</p>
						</div>
						<div class="data-section">
							<h3>Cliente</h3>
							<p>Nombre</p>
						</div>
						<div class="data-section">
							<h3>Vencimiento</h3>
							<p>Fecha</p>
						</div>
					</div>
					<a href="#">Consultar</a>
					<a href="#">Notificar</a>
					<a href="#"><i class="fas fa-trash-alt"></i></a>
				</div>
				<div class="content">
					<div class="data">
						<div class="data-section">
							<h3>Poliza</h3>
							<p>123456789</p>
						</div>
						<div class="data-section">
							<h3>Cliente</h3>
							<p>Nombre</p>
						</div>
						<div class="data-section">
							<h3>Vencimiento</h3>
							<p>Fecha</p>
						</div>
					</div>
					<a href="#">Consultar</a>
					<a href="#">Notificar</a>
					<a href="#"><i class="fas fa-trash-alt"></i></a>
				</div>
				<div class="content">
					<div class="data">
						<div class="data-section">
							<h3>Poliza</h3>
							<p>123456789</p>
						</div>
						<div class="data-section">
							<h3>Cliente</h3>
							<p>Nombre</p>
						</div>
						<div class="data-section">
							<h3>Vencimiento</h3>
							<p>Fecha</p>
						</div>
					</div>
					<a href="#">Consultar</a>
					<a href="#">Notificar</a>
					<a href="#"><i class="fas fa-trash-alt"></i></a>
				</div>
				<div class="content">
					<div class="data">
						<div class="data-section">
							<h3>Poliza</h3>
							<p>123456789</p>
						</div>
						<div class="data-section">
							<h3>Cliente</h3>
							<p>Nombre</p>
						</div>
						<div class="data-section">
							<h3>Vencimiento</h3>
							<p>Fecha</p>
						</div>
					</div>
					<a href="#">Consultar</a>
					<a href="#">Notificar</a>
					<a href="#"><i class="fas fa-trash-alt"></i></a>
				</div>
				<div class="content">
					<div class="data">
						<div class="data-section">
							<h3>Poliza</h3>
							<p>123456789</p>
						</div>
						<div class="data-section">
							<h3>Cliente</h3>
							<p>Nombre</p>
						</div>
						<div class="data-section">
							<h3>Vencimiento</h3>
							<p>Fecha</p>
						</div>
					</div>
					<a href="#">Consultar</a>
					<a href="#">Notificar</a>
					<a href="#"><i class="fas fa-trash-alt"></i></a>
				</div>
			</div>
		</div>

	</section>

	<script src="jquery.js"></script>
</body>
</html>