{%extends "header.html"%}

{% block title %} Nueva Póliza {% endblock%}

{% block content %}
<section class="aling-general">
    <form method="POST">
        {% csrf_token %}
        <div class="container2">

            <div class="content1">
                <i class="fas fa-user"></i>
            </div>
            <div class="content2">
                {{poliza.num_poliza.label}}
                {{poliza.num_poliza}}
                {{poliza.deducible.label}}
                {{poliza.deducible}}
                {{poliza.fecha_inicio.label}}
                {{poliza.fecha_inicio}}
                {{poliza.fecha_termino.label}}
                {{poliza.fecha_termino}}

            </div>

            <div class="content2">

                {{poliza.cliente.label}}
                {{poliza.cliente}}
                {{poliza.periodo_pago.label}}
                {{poliza.periodo_pago}}
                {{poliza.tipo_poliza.label}}
                {{poliza.tipo_poliza}}
                {{poliza.status.label}}
                {{poliza.status}}
                
            </div>
            <div class="content3">
                <button class="btn" type="submit">Agregar</button>
            </div>
        </div>
    </form>
</section>

{% endblock %}