{%extends "header.html"%}

{% block title %} Nuevo Cliente {% endblock%}

{% block content %}
<section class="aling-general">
		<div class="container2">

			<div class="content1">
				<i class="fas fa-user"></i>
			</div>
			<div class="content2">


				{{form.num_poliza.label}}
                {{form.num_poliza}}
                {{form.deducible.label}}
                {{form.deducible}}
                {{form.fecha_inicio.label}}
                {{form.fecha_inicio}}
                {{form.fecha_termino.label}}
                {{form.fecha_termino}}

			</div>
			<div class="content2">
				{{form.cliente.label}}
                {{form.cliente}}
                {{form.periodo_pago.label}}
                {{form.periodo_pago}}
                {{form.tipo_poliza.label}}
                {{form.tipo_poliza}}
                {{form.status.label}}
                {{form.status}}
				
			</div>
			<div class="content3">
                <div class="b-g">
					<a href="{% url 'Clientes:detalle_poliza' poliza.id %}">Volver</a>
				</div>
			</div>
		</div>
</section>

{% endblock %}