{%extends "header.html"%}

{% block title %} Pólizas {% endblock%}

{% block content %}

	<section class="container-general services">
		<div class="titles">
			<div class="btn-add">
				<a href="{% url 'Clientes:nueva_poliza' %}"><i class="fas fa-file-medical"></i></a>
			</div>	
			<div class="title">
				<h1>Polizas</h1>
			</div>	
			<div class="box-search">
				<form method="GET">
				<input id="entrada" type="text" name="buscar" placeholder="Poliza..">
				<button type="submit" class="btn btn-success">Buscar</button>
			</form>
			</div>	
		</div>
		<div class="body-general">
			<div class="body">

				{%for dato in poliza%}
				<div class="content">
					<div class="data">
						<div class="data-section">
							<h3>Número de Póliza</h3>
							<p>{{dato.num_poliza}}</p>
						</div>
						<div class="data-section">
							<h3>Cliente</h3>
							<p>{{dato.cliente.nombre}} {{dato.cliente.ap_paterno}}</p>
						</div>
					</div>
					<a href="{% url 'Clientes:detalle_poliza' dato.id %}">Consultar</a>
					<a href="{% url 'Clientes:editar_poliza' dato.id %}">Editar</a>
					<a href="{% url 'Clientes:eliminar_poliza' dato.id %}">Eliminar</a>
				</div>
				{%endfor%}
			</div>
			
		</div>

	</section>
	{% endblock %}