{%extends "header.html"%}

{% block title %} Clientes {% endblock%}

{% block content %}
    
	<section class=" aling-general">
		<div class="container">
			<div class="content1">
				<i class="fas fa-user"></i>
			</div>
			<div class="content4">
				<p class="text">Nombre:</p>
				<p class="date-text">Darien Alexander Fajardo González</p>
				<p class="text">Fecha de nacimiento:</p>
				<p class="date-text">14 de Agosto de 1998</p>
				<p class="text">Email:</p>
				<p class="date-text">dfajardog@toluca.tecnm.mx</p>
				<p class="text">Telefono Celular:</p>
				<p class="date-text">7224567890</p>
				<p class="text">Telefono Fijo:</p>
				<p class="date-text">7171441072</p>
				<p class="text">Calle:</p>
				<p class="date-text">Independencia sur</p>
				<p class="text">Colonia:</p>
				<p class="date-text">Centro</p>
				<p class="text">CP:</p>
				<p class="date-text">52300</p>
				<p class="text">RFC:</p>
				<p class="date-text">Al chile no me lo se</p>
				<p class="text">Ingreso:</p>
				<p class="date-text">26 de Mayo del 2021</p>
				<br />
			</div>
		</div>
		<div class="container2">
			<div class="content1">
				<i class="fas fa-bookmark"></i>
			</div>
			<div class="content4">
				<div class="body-general">
					<div class="body notifications">
						<div class="content">
							<div class="data">
								<div class="data-section">
									<h3>Numero</h3>
									<p>12345</p>
								</div>
								<div class="data-section">
									<h3>Cliente</h3>
									<p>Nombre</p>
								</div>
							</div>
							<a href="#"><i class="fas fa-search"></i></a>
							<a href="#"><i class="fas fa-edit"></i></a>
							<a href="#"><i class="fas fa-trash-alt"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>