
{%extends "header.html"%}

{% block title %} Editar prima {% endblock%}

{% block content %}
<div class="title-general">
	<h1>Editar Prima</h1>
</div>
<section class="aling-general">
	<form method="POST">
		{% csrf_token %}
		<div class="container">

			<div class="content1">
				<i class="fas fa-user"></i>
			</div>
			<div class="content4">
				{{form}}
			
			</div>
			<div class="content3">
				<button class="btn" type="submit">Guardar</button>
			</div>
		</div>
	</form>
</section>

{% endblock %}