{%extends "header.html"%}

{% block title %} Nuevo Cliente {% endblock%}

{% block content %}
<section class="aling-general">
	<form method="POST">
		{% csrf_token %}
		<div class="container2">

			<div class="content1">
				<i class="fas fa-user"></i>
			</div>
			<div class="content2">
				{{cliente.nombre.label}}
				{{cliente.nombre}}
				{{cliente.ap_paterno.label}}
				{{cliente.ap_paterno}}
				{{cliente.ap_materno.label}}
				{{cliente.ap_materno}}
				{{cliente.fecha_nacimiento.label}}
				{{cliente.fecha_nacimiento}}
				{{cliente.email.label}}
				{{cliente.email}}
				{{cliente.num_celular.label}}
				{{cliente.num_celular}}
				{{cliente.num_fijo.label}}
				{{cliente.num_fijo}}

			</div>
			<div class="content2">
				{{cliente.direccion.label}}
				{{cliente.direccion}}
				{{cliente.colonia.label}}
				{{cliente.colonia}}
				{{cliente.codigo_postal.label}}
				{{cliente.codigo_postal}}
				{{cliente.rfc.label}}
				{{cliente.rfc}}
				{{cliente.fecha_registro.label}}
				{{cliente.fecha_registro}}

				{{cliente.status.label}}
				{{cliente.status}}
				
			</div>
			<div class="content3">
				<button class="btn" type="submit">Registrar</button>
			</div>
		</div>
	</form>
</section>

{% endblock %}